<div class="home-container">
  <!-- <a href = '#' class = "btn-outline">Learn More</a> -->
  <div class="all-movies">
    <div class="trending-movies">
      <div class="top">
        <h4>Fuel Efficient</h4>
      </div>
      <div class="movies-thumbnail">
        <div class="movie" *ngFor="let movie of Fuel">
          <div class="cover" (click)="goToMovie('trending', movie.id)">
            <img [src]="movie.cover" alt="" />
          </div>
          <div class="detail">
            <div class="name" (click)="goToMovie('trending', movie.id)">{{ movie.name }}</div>
            <!-- <div class="rating">
              <span class="rating-value">{{ movie.rating }}</span>
              <app-star-rating
                [rating]="movie.rating"
                [isReadOnly]="true"
              ></app-star-rating>
            </div> -->
          </div>
        </div>
      </div>
    </div>
    <div class="theatre-movies">
      <div class="top">
        <h4>Beast on Roads</h4>
      </div>
      <div class="movies-thumbnail">
        <div class="movie" *ngFor="let movie of Best">
          <div class="cover" (click)="goToMovie('theatre', movie.id)">
            <img [src]="movie.cover" alt="" />
          </div>
          <div class="detail">
            <div class="name" (click)="goToMovie('theatre', movie.id)">{{ movie.name }}</div>
            <!-- <div class="rating">
              <span class="rating-value">{{ movie.rating }}</span>
              <app-star-rating
                [rating]="bike.rating"
                [isReadOnly]="true"
              ></app-star-rating>
            </div> -->
          </div>
        </div>
      </div>
    </div>
    <footer><br></footer>
    <footer><br></footer>
    <footer><br></footer>
    <footer><br></footer>
    <footer><br></footer> 
    <footer><br></footer>
    
    
    <footer><b>Reach out us at: Easybikes@gmail.com,</b> <br>
   <b>whatsapp @ 9988823939.</b>
    </footer>
  </div>


