.home-container {
  display: flex;
  // .btn-outline {
  //   text-decoration:dashed;
  //   font-size: small;
  //   color: rgb(234, 234, 236);
  //   position: relative;
  //   transition: .5s;
  //   // border: 2px solid rgb(118,109,244);
    
  // }
  // .btn-outline::before,
  // .btn-outline::after{
  //   contain: '';
  //   position: absolute;
  //   width: 40px;
  //   height: 40px;
  //   border: inherit;
  //   transition: .5s;
  // }
  // .btn-outline::before{
  //   top: -10px;
  //   left: -10px;
  //   border-width: 2px 0 0 2px;
  // }
  // .btn-outline::after{
  //   bottom: -10px;
  //   right: -10px;
  //   border-width: 0 2px 2px 0;
  // }
  // .btn-outline:hover::before,
  // .btn-outline:hover::after{
  //   width: calc(100% + 18px);
  //   height: calc(100% + 18px);
  // }
  .all-movies {
    width: 95%;
    min-height: calc(100vh - 80px);
    border-right: 10px solid #0b0b04;
    padding: 30px 40px;
    font-family: "Roboto", sans-serif;
    font-style: italic;
    .top {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 15px;
      h4 {
        text-transform: uppercase;
        font-weight: bold;
        border-left: 5px solid #050604;
        padding-left: 10px;
      }
    }
    .movies-thumbnail {
      display: flex;
      justify-content: space-between;
      margin-bottom: 30px;
      .movie {
        .cover {
          cursor: pointer;
          img {
            border-radius: 20px;
          }
        }
        .detail {
          width: 180px;
          .name {
            font-weight: bold;
            height: 50px;
            margin-top: 5px;
            cursor: pointer;
          }
        }
      }
    }
  }
  .popular-movies {
    width: 35%;
    min-height: calc(100vh - 80px);
    padding: 20px 40px;
    font-family: "Roboto", sans-serif;
    font-style: italic;
    h4 {
      text-transform: uppercase;
      font-weight:bolder;
      border-left: 5px solid #010100;
      padding-left: 10px;
    }
    .movies {
      .movie {
        margin-bottom: 20px;
        margin-top: 30px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .name {
          font-weight: bold;
          cursor: pointer;
        }
      }
    }
  }
}

.rating {
  padding-right: 45px;
  position: relative;
  .rating-value {
    position: absolute;
    top: 10px;
    right: 0px;
    font-weight: bold;
  }
}
